* {
  box-sizing: border-box;
}

div#checkers-player {
	width: 90vmin;
	height: 90vmin;
	margin: auto;
}

table#checkers-player-board {
	text-align: center;
	border-collapse: collapse;
	table-layout: fixed;
	width: 90%;
	height: 90%;
	margin: auto;
	margin-right: 11%;
}

td[class|="checkers-player-cell"] {
	width: 11%;
	height: 11%;
	border: solid black 2px;
}

td.checkers-player-cell-dark {
	background-color: #64170f;
}

td.checkers-player-cell-light {
	background-color: #e8c791;
}

td[class|="checkers-player-cell"] > img {
	width: 100%;
	display: block;
}

td.checkers-player-label {
	font-weight: bold;
}

p.checkers-player-status {
	text-align: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

div.checkers-player-nav {
	height: 10%;
}

p.checkers-player-nav {
	text-align: center;
}

button.checkers-player-nav-btn {
	width: 25%;
	margin: 0 2%;
}