<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/header :: header"></head>

<body>
<div class="container">
    <nav th:replace="includes/header :: navig"></nav>
    <div class="alert alert-danger">
        <p th:text="#{errors.thereWasAnError(${error}, ${status})}"></p>
        <p th:unless="${#strings.isEmpty(message)}"><i th:text="${message}"></i></p>
        <p th:utext="#{errors.goToHomePage}">Click <a href="/">here</a> to go to home page</p>
    </div>
</div>

<div th:replace="includes/footer :: footer">

</div>
</body>
</html>
