<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title th:text="${title}?: #{title.default}">Damas</title>
	<!-- Bootstrap  -->
	<link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/style.css}" rel="stylesheet"/>
	<script th:src="@{/js/checkersplayer.js}" type="text/javascript"></script>
	<script th:inline="javascript">
		var firstMove = /*[[#{matches.first.move}]]*/ "First move",
				lastMove = /*[[#{matches.last.move}]]*/ "Last move: ",
				moves = /*[(|"${@movimientoListToStringConverter.convert(partida.movimientos)}"|)]*/ "b6-c5 c3-d4 d6-e5 d4-b6 c7-d6 a3-b4 a7-c5 c5-a3";
	</script>
	<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function() {
      CheckersPlayer.init("checkers-player", moves);
    });
	</script>
</head>

<body>
<div class="container">
    <nav th:replace="includes/header :: navig"></nav>
    <div class="card">

        <div class="card-header">
            <h1 class="card-title" th:text="#{matches.viewMatch(${partida.descripcion})}"></h1>
        </div>

        <div class="card-body">
        	
        	<div class="container">
        		<div class="row">
	   					<div id="checkers-player"></div>
	   				</div>
	   			</div>
	    
	    		<br>
	    
	        <div class="container">
	            <div class="row justify-content-sm-start">
	                <div class="col col-sm-4" th:text="#{matches.date}"></div>
	                <div class="col col-sm-auto">
	                    <span th:text="${#temporals.format(partida.fechaHora)}"></span>
	                </div>
	            </div>
	            <div class="row justify-content-sm-start">
	                <div class="col col-sm-4" th:text="#{matches.description}"></div>
	                <div class="col col-sm-auto">
	                    <span th:text="${partida.descripcion}"></span>
	                </div>
	            </div>
	            <div class="row justify-content-sm-start">
	                <div class="col col-sm-4" th:text="#{matches.white}"></div>
	                <div class="col col-sm-auto">
	                    <span th:text="${partida.blancas.nombre}"></span>
	                </div>
	            </div>
	            <div class="row justify-content-sm-start">
	                <div class="col col-sm-4" th:text="#{matches.black}"></div>
	                <div class="col col-sm-auto">
	                    <span th:text="${partida.negras.nombre}"></span>
	                </div>
	            </div>
	            <div class="row justify-content-sm-start">
	                <div class="col col-sm-4" th:text="#{matches.winner}"></div>
	                <div class="col col-sm-auto">
	                    <span th:text="#{${T(ar.edu.unlu.cursos.spring.damas.web.PartidaForm.GanadorView).of(partida.ganador).message}}"></span>
	                </div>
	            </div>
	            <div class="row justify-content-sm-start">
	                <div class="col col-sm-4" th:text="#{matches.duration}"></div>
	                <div class="col col-sm-auto">
	                    <span th:text="${T(java.lang.String).format('%02d:%02d:%02d',
	                	partida.duracion / 3600,
	                	partida.duracion % 3600 / 60,
	                	partida.duracion % 60)}"></span>
	                </div>
	            </div>
	            <div class="row justify-content-sm-start">
	                <div class="col col-sm-4" th:text="#{common.creationDate}">Fecha creación</div>
	                <div class="col col-sm-auto">
	                    <span th:text="${#dates.format(partida.createdOn)}">Jueves 17 de Agosto de 2017</span>
	                </div>
	            </div>
	            <div class="row justify-content-sm-start">
	                <div class="col col-sm-4" th:text="#{common.lastModifiedDate}">Fecha última modificación</div>
	                <div class="col col-sm-auto">
	                    <span th:text="${#dates.format(partida.modifiedOn)}">Jueves 17 de Agosto de 2017</span>
	                </div>
	            </div>
	        </div>
	
	        <br>
	
	        <div class="container">
	            <a class="btn btn-primary"
	               th:href="@{'/partidas/' + ${partida.id} + '/editar'}"
	               th:text="#{common.edit}">Editar
	            </a>
	
	            <a class="btn btn-danger"
	               th:href="@{'/partidas/' + ${partida.id} + '/eliminar'}"
	               th:text="#{common.delete}">Eliminar
	            </a>
	
	            <a class="btn btn-outline-primary"
	               th:href="@{/partidas}"
	               th:text="#{common.list}">Listado
	            </a>
	        </div>
        </div>

    </div>
</div>

<div th:replace="includes/footer :: footer"></div>

</body>
</html>