<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/header :: header(
	title = ${partidaForm.nueva} 
		? #{title.matches.new} 
		: #{title.matches.edit}
	)">
</head>

<body>
<div class="container">
    <nav th:replace="includes/header :: navig"></nav>
    <div class="card">

        <div class="card-header">
            <h1 class="card-title" 
            	th:text="${partidaForm.nueva} 
            		? #{matches.newMatch} 
            		: #{matches.editMatch}">Editar</h1>
        </div>

        <div class="card-body">
            <form th:object="${partidaForm}" method="post">
                <div class="container">
            
                    <div class="form-group">
                    	<label for="fechaHora" th:text="#{matches.date}"></label>
                    	<input type="datetime-local" class="form-control" aria-describedby="date-help"
                    		th:field="*{fechaHora}"
                    		th:errorclass="is-invalid"/>
                    	<small id="date-help" class="form-text text-muted"
                      	th:text="#{matches.date.help}"></small>
                    	<p th:if="${#fields.hasErrors('fechaHora')}"
                    		th:errors="*{fechaHora}"
                    		th:errorclass="text-danger"></p>
                    </div>
                    
                    <div class="form-group">
                        <label for="descripcion" th:text="#{matches.description}"></label>
                        <input type="text" class="form-control"
                               th:field="*{descripcion}"
                               th:placeholder="#{matches.description.help}"
                               th:errorclass="is-invalid"/>
                        <p th:if="${#fields.hasErrors('descripcion')}"
                           th:errors="*{descripcion}"
                           th:errorclass="text-danger"></p>
                    </div>
                    
                    <div class="form-group">
                    	<label for="blancas" th:text="#{matches.white}"></label>
                    	<select class="form-control"
                    			th:field="*{blancas}"
                    			th:errorclass="is-invalid">
                    		<option value="" th:text="#{matches.selectWhite}"/>
                    		<option th:each="usuario : ${usuarios}"
                    				th:value="${usuario.id}"
                    				th:text="${usuario.nombre}"
                    				th:selected="${usuario} == *{blancas}"/>
                    	</select>
                    	<p th:if="${#fields.hasErrors('blancas')}"
                    		th:errors="*{blancas}"
                    		th:errorclass="text-danger"></p>
                    </div>
                    
                    <div class="form-group">
                    	<label for="negras" th:text="#{matches.black}"></label>
                    	<select class="form-control"
                    			th:field="*{negras}"
                    			th:errorclass="is-invalid">
                    		<option value="" th:text="#{matches.selectBlack}"/>
                    		<option th:each="usuario : ${usuarios}"
                    				th:value="${usuario.id}"
                    				th:text="${usuario.nombre}"
                    				th:selected="${usuario} == *{negras}"/>
                    	</select>
                    	<p th:if="${#fields.hasErrors('negras')}"
                    		th:errors="*{negras}"
                    		th:errorclass="text-danger"></p>
                    </div>
                    
                    <div class="form-group">
                    	<label for="ganador" th:text="#{matches.winner}"></label>
                    	<select class="form-control"
                    			th:field="*{ganador}"
                    			th:errorclass="is-invalid">
                    		<option value="" th:text="#{matches.selectWinner}"/>
                    		<option th:each="ganador : ${T(ar.edu.unlu.cursos.spring.damas.web.PartidaForm.GanadorView).values()}"
                    				th:value="${ganador}"
                    				th:text="#{${ganador.message}}"
                    				th:selected="${ganador} == *{ganador}"/>
                    	</select>
                    	<p th:if="${#fields.hasErrors('ganador')}"
                    		th:errors="*{ganador}"
                    		th:errorclass="text-danger"></p>
                    </div>
                    
                    <div class="form-group">
                    	<label for="duracion" th:text="#{matches.duration}"></label>
                    	<input type="number" class="form-control" aria-describedby="duration-help"
                    		th:field="*{duracion}"
                    		th:errorclass="is-invalid"/>
                    	<small id="duration-help" class="form-text text-muted"
                      	th:text="#{matches.duration.help}"></small>
                    	<p th:if="${#fields.hasErrors('duracion')}"
                    		th:errors="*{duracion}"
                    		th:errorclass="text-danger"></p>
                    </div>

                    <div class="form-group">
                    	<label for="movimientos" th:text="#{matches.moves}"></label>
                    	<textarea class="form-control" aria-describedby="moves-help"
                    		th:field="*{movimientos}"
                    		th:errorclass="is-invalid"></textarea>
                    	<small id="moves-help" class="form-text text-muted"
                           th:text="#{matches.moves.help}"></small>
                    	<p th:if="${#fields.hasErrors('movimientos')}"
                    		th:errors="*{movimientos}"
                    		th:errorclass="text-danger"></p>
                    </div>
                    
                </div>

                <div class="container">
                    <button class="btn btn-primary" th:text="#{common.save}">Guardar</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div th:replace="includes/footer :: footer"></div>

</body>
</html>
