<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/header :: header(title = #{title.matches.delete})"></head>

<body>
<div class="container">
    <nav th:replace="includes/header :: navig"></nav>
    <div class="card">

        <div class="card-header">
            <h1 class="card-title" th:text="#{matches.aboutToDeleteMatch}"></h1>
        </div>

        <div class="card-body">
            <div class="container">
                <div class="row justify-content-sm-start">
                    <div class="col col-sm-4" th:text="#{matches.date}"></div>
                    <div class="col col-sm-auto">
                        <span th:text="${#temporals.format(partida.fechaHora)}"></span>
                    </div>
                </div>
                <div class="row justify-content-sm-start">
                    <div class="col col-sm-4" th:text="#{matches.description}"></div>
                    <div class="col col-sm-auto">
                        <span th:text="${partida.descripcion}"></span>
                    </div>
                </div>
                <div class="row justify-content-sm-start">
                    <div class="col col-sm-4" th:text="#{matches.white}"></div>
                    <div class="col col-sm-auto">
                        <span th:text="${partida.blancas.nombre}"></span>
                    </div>
                </div>
                <div class="row justify-content-sm-start">
                    <div class="col col-sm-4" th:text="#{matches.black}"></div>
                    <div class="col col-sm-auto">
                        <span th:text="${partida.negras.nombre}"></span>
                    </div>
                </div>
                <div class="row justify-content-sm-start">
                    <div class="col col-sm-4" th:text="#{matches.winner}"></div>
                    <div class="col col-sm-auto">
                        <span th:text="#{${T(ar.edu.unlu.cursos.spring.damas.web.PartidaForm.GanadorView).of(partida.ganador).message}}"></span>
                    </div>
                </div>
                <div class="row justify-content-sm-start">
                    <div class="col col-sm-4" th:text="#{matches.duration}"></div>
                    <div class="col col-sm-auto">
                        <span th:text="${T(java.lang.String).format('%02d:%02d:%02d',
                    	partida.duracion / 3600,
                    	partida.duracion % 3600 / 60,
                    	partida.duracion % 60)}"></span>
                    </div>
                </div>
                <div class="row justify-content-sm-start">
                    <div class="col col-sm-4" th:text="#{common.creationDate}">Fecha creación</div>
                    <div class="col col-sm-auto">
                        <span th:text="${#dates.format(partida.createdOn)}">Jueves 17 de Agosto de 2017</span>
                    </div>
                </div>
                <div class="row justify-content-sm-start">
                    <div class="col col-sm-4" th:text="#{common.lastModifiedDate}">Fecha última modificación</div>
                    <div class="col col-sm-auto">
                        <span th:text="${#dates.format(partida.modifiedOn)}">Jueves 17 de Agosto de 2017</span>
                    </div>
                </div>
            </div>

            <p></p>
						<p><strong th:text="#{common.areYouSure}">Está seguro?</strong></p>

            <div class="container">
                <form method="post">
                    <button class="btn btn-primary" th:text="#{common.yes}">Sí</button>
                    <a class="btn btn-danger"
                       th:href="@{'/partidas/' + ${partida.id}}" th:text="#{common.no}">No
                    </a>
                </form>
            </div>

        </div>

    </div>
</div>

<div th:replace="includes/footer :: footer"></div>

</body>
</html>