<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/header :: header(
	title = ${usuario == null}
		? #{title.matches}
    : #{matches.userMatches(${usuario.nombre})}
  )"/>

<body>
<div class="container">
    <nav th:replace="includes/header :: navig"></nav>
    <div class="card">
        <div class="card-header">
            <h1 class="card-title"
            	th:text="${usuario == null}
            		? #{matches.matchList}
            		: #{matches.userMatches(${usuario.nombre})}"></h1>
        </div>

        <div class="card-body">
		        <a class="btn btn-primary"
			          th:href="@{/partidas/nueva}" th:text="#{matches.newMatch}">Nueva</a>
        
            <p th:if="${#lists.isEmpty(partidas)}"
               th:text="#{matches.noMatches}">No matches found.</p>
            <table class="table table-striped table-hover" th:if="${not #lists.isEmpty(partidas)}">
                <thead>
                <tr>
                	<th class="active" th:text="#{matches.id}">ID</th>
                  <th class="active" th:text="#{matches.description}">Descr</th>
                  <th class="active" th:text="#{matches.date}">Fecha</th>
                  <th class="active" th:text="#{matches.white}">Blancas</th>
                  <th class="active" th:text="#{matches.black}">Negras</th>
                  <th class="active" th:text="#{matches.winner}">Ganador</th>
                  <th class="active" th:text="#{matches.duration}">Duration</th>
                  <th class="active" th:text="#{matches.moves}">Movimientos</th>
                  <th class="active" th:text="#{common.creationDate}">Creación</th>
                  <th class="active" th:text="#{common.lastModifiedDate}">Última modificación</th>
                  <th class="active" th:text="#{common.actions}">Acciones</th>
                </tr>
                </thead>

                <tr th:each="partida : ${partidas}">
                    <td th:text="${partida.id}">1</td>
                    <td th:text="${partida.descripcion}">Partida en París</td>
                    <td th:text="${#temporals.format(partida.fechaHora)}">Lunes 3 de Diciembre de 2018</td>
                    <td th:text="${partida.blancas.nombre}">Tomito</td>
                    <td th:text="${partida.negras.nombre}">Matías</td>
                    <td th:text="#{${T(ar.edu.unlu.cursos.spring.damas.web.PartidaForm.GanadorView).of(partida.ganador).message}}">Blancas</td>
                    <!-- <td th:text="${partida.duracion}">596</td>  -->
                    <td th:text="${T(java.lang.String).format('%02d:%02d:%02d',
                    	partida.duracion / 3600,
                    	partida.duracion % 3600 / 60,
                    	partida.duracion % 60)}">596</td>
                    <td th:text="${#lists.size(partida.movimientos)}">40</td>
                    <td th:text="${#dates.format(partida.createdOn)}">Jueves 17 de Agosto de 2017</td>
                    <td th:text="${#dates.format(partida.modifiedOn)}">Jueves 17 de Agosto de 2017</td>
                    <td>
                    	<ul class="list-unstyled">
                    		<li><a th:href="@{'/partidas/' + ${partida.id}}" th:text="#{common.view}">Ver</a></li>
                        <li><a th:href="@{'/partidas/' + ${partida.id} + '/editar'}" th:text="#{common.edit}">Editar</a></li>
                        <li><a th:href="@{'/partidas/' + ${partida.id} + '/eliminar'}" th:text="#{common.delete}">Borrar</a></li>
                    	</ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>

<div th:replace="includes/footer :: footer"></div>
</body>
</html>
