<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/header :: header(title = #{title.users.delete(${usuario.nombre})})"></head>

<body>
<div class="container">
    <nav th:replace="includes/header :: navig"></nav>
    <div class="card">

        <div class="card-header">
            <h1 class="card-title" th:text="#{users.aboutToDeleteUser(${usuario.nombre})}">Está a punto de eliminar el siguiente usuario</h1>
        </div>

        <div class="card-body">
            <div class="container">
                <div class="row justify-content-sm-start">
                    <div class="col col-sm-4" th:text="#{users.name}">Usuario</div>
                    <div class="col col-sm-auto">
                        <span th:text="${usuario.nombre}">Rayuela</span>
                    </div>
                </div>
                <div class="row justify-content-sm-start">
                    <div class="col col-sm-4" th:text="#{users.email}">Email</div>
                    <div class="col col-sm-auto">
                        <span th:text="${usuario.email}">1111</span>
                    </div>
                </div>
                <div class="row justify-content-sm-start">
                    <div class="col col-sm-4" th:text="#{common.creationDate}">Fecha creación</div>
                    <div class="col col-sm-auto">
                        <span th:text="${#dates.format(usuario.createdOn)}">Jueves 17 de Agosto de 2017</span>
                    </div>
                </div>
                <div class="row justify-content-sm-start">
                    <div class="col col-sm-4" th:text="#{common.lastModifiedDate}">Fecha última modificación</div>
                    <div class="col col-sm-auto">
                        <span th:text="${#dates.format(usuario.modifiedOn)}">Jueves 17 de Agosto de 2017</span>
                    </div>
                </div>
            </div>

            <br>

						<div th:unless="${#lists.isEmpty(partidas)}">
							<p><strong th:text="#{users.cantDeleteUserWithMatches}"></strong></p>
              <a class="btn btn-outline-success"
                   			th:href="@{|/partidas/buscar?userId=${usuario.id}|}"
                   			th:text="#{users.goToUserMatches(${usuario.nombre})}">Partidas
							</a>
						</div>
            
            <div th:if="${#lists.isEmpty(partidas)}">
							<p><strong th:text="#{common.areYouSure}">Está seguro?</strong></p>
	
	            <div class="container">
	                <form method="post">
	                    <button class="btn btn-primary" th:text="#{common.yes}">Sí</button>
	                    <a class="btn btn-danger"
	                       th:href="@{'/usuarios/' + ${usuario.id}}" th:text="#{common.no}">No
	                    </a>
	                </form>
	            </div>
            </div>

        </div>

    </div>
</div>

<div th:replace="includes/footer :: footer"></div>

</body>
</html>