<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/header :: header(
	title = ${usuarioForm.nuevo} 
		? #{title.users.new} 
		: #{title.users.edit(${usuarioForm.nombre})}
	)">
</head>

<body>
<div class="container">
    <nav th:replace="includes/header :: navig"></nav>
    <div class="card">

        <div class="card-header">
            <h1 class="card-title" 
            	th:text="${usuarioForm.nuevo} 
            		? #{users.newUser} 
            		: #{users.editUser(${usuarioForm.nombre})}">Editar Usuario</h1>
        </div>

        <div class="card-body">
            <form th:object="${usuarioForm}" method="post">
                <div class="container">
                    <div class="form-group">
                        <label for="nombre"
                               th:text="#{users.name}">Usuario</label>
                        <input type="text" class="form-control" aria-describedby="username-help"
                               th:field="*{nombre}"
                               th:placeholder="#{users.username}"
                               th:errorclass="is-invalid"/>
                        <small id="username-help" class="form-text text-muted"
                           th:text="#{users.username.help}">Ayuda de usuario</small>
                        <p th:if="${#fields.hasErrors('nombre')}"
                           th:errors="*{nombre}"
                           th:errorclass="text-danger">El nombre de usuario no es correcto.</p>
                    </div>

                    <div class="form-group">
                        <label for="email"
                               th:text="#{users.email}">Email</label>
                        <input type="email" class="form-control" aria-describedby="email-help"
                               th:field="*{email}"
                               th:placeholder="#{users.userEmail}"
                               th:errorclass="is-invalid"
                               th:readonly="!*{nuevo}"/>
                        <small id="email-help" class="form-text text-muted"
                           th:text="#{users.userEmail.help}">Ayuda de email</small>
                        <p th:if="${#fields.hasErrors('email')}"
                           th:errors="*{email}"
                           th:errorclass="text-danger">El email no es correcto.</p>
                    </div>

										<div th:if="*{nuevo}" class="form-group">
                        <label for="password"
                               th:text="#{users.password}">Contraseña</label>
                        <input type="password" class="form-control" aria-describedby="password-help"
                               th:field="*{password}"
                               th:placeholder="#{users.userPassword}"
                               th:errorclass="is-invalid"/>
                        <small id="password-help" class="form-text text-muted"
                           th:text="#{users.userPassword.help}">Ingrese la contraseña.</small>
                        <p th:if="${#fields.hasErrors('password')}"
                           th:errors="*{password}"
                           th:errorclass="text-danger">La contraseña no es correcta.</p>
                    </div>
                    
                    <div th:if="*{nuevo}" class="form-group">
                        <label for="confirmPassword"
                               th:text="#{users.confirmPassword}">Contraseña</label>
                        <input type="password" class="form-control"
                               th:field="*{confirmPassword}"
                               th:placeholder="#{users.userConfirmPassword}"
                               th:errorclass="is-invalid"/>
                        <p th:if="${#fields.hasErrors('confirmPassword')}"
                           th:errors="*{confirmPassword}"
                           th:errorclass="text-danger">La contraseña no es correcta.</p>
                    </div>
                    
                </div>

                <div class="container">
                    <button class="btn btn-primary" th:text="#{common.save}">Guardar</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div th:replace="includes/footer :: footer"></div>

</body>
</html>
