<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/header :: header(title = #{title.users})"/>

<body>
<div class="container">
    <nav th:replace="includes/header :: navig"></nav>
    <div class="card">
        <div class="card-header">
            <h1 class="card-title" th:text="#{users.userList}">Usuarios</h1>
        </div>

        <div class="card-body">
		        <a class="btn btn-primary"
		           th:href="@{/usuarios/nuevo}" th:text="#{users.newUser}">Nuevo</a>
		           
            <p th:if="${#lists.isEmpty(usuarios)}"
               th:text="#{users.noUsers}">No users found.</p>
            <table class="table table-striped table-hover" th:if="${not #lists.isEmpty(usuarios)}">
                <thead>
                <tr>
                    <th class="active" th:text="#{users.name}">Nombre</th>
                    <th class="active" th:text="#{users.email}">Email</th>
                    <th class="active" th:text="#{users.matches}">Partidas</th>
                    <th class="active" th:text="#{common.creationDate}">Creación</th>
                    <th class="active" th:text="#{common.lastModifiedDate}">Última modificación</th>
                    <th class="active" th:text="#{common.actions}">Acciones</th>
                </tr>
                </thead>

                <tr th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.nombre}">El señor de los anillos</td>
                    <td th:text="${usuario.email}">1111</td>
                    <td>
                    	<a class="btn btn-outline-success"
                   			th:href="@{|/partidas/buscar?userId=${usuario.id}|}"
                   			th:text="#{users.searchMatches}">Partidas
                			</a>
                		</td>
                    <td th:text="${#dates.format(usuario.createdOn)}">Jueves 17 de Agosto de 2017</td>
                    <td th:text="${#dates.format(usuario.modifiedOn)}">Jueves 17 de Agosto de 2017</td>
                    <td>
                    	<ul class="list-unstyled">
                    		<li><a th:href="@{'/usuarios/' + ${usuario.id}}" th:text="#{common.view}">Ver</a></li>
                        <li><a th:href="@{'/usuarios/' + ${usuario.id} + '/editar'}" th:text="#{common.edit}">Editar</a></li>
                        <li><a th:href="@{'/usuarios/' + ${usuario.id} + '/eliminar'}" th:text="#{common.delete}">Borrar</a></li>
                    	</ul>
                    </td>
                </tr>
            </table>

        </div>
    </div>

</div>

<div th:replace="includes/footer :: footer"></div>
</body>
</html>
