<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/header :: header(title = #{title.users.view(${usuario.nombre})})"></head>

<body>
<div class="container">
    <nav th:replace="includes/header :: navig"></nav>
    <div class="card">

        <div class="card-header">
            <h1 class="card-title" th:text="#{users.viewUser(${usuario.nombre})}">Perfil del usuario</h1>
        </div>

        <div class="card-body">
            <div class="container">
                <div class="row justify-content-sm-start">
                    <div class="col col-sm-4" th:text="#{users.name}">Usuario</div>
                    <div class="col col-sm-auto">
                        <span th:text="${usuario.nombre}">Rayuela</span>
                    </div>
                </div>
                <div class="row justify-content-sm-start">
                    <div class="col col-sm-4" th:text="#{users.email}">Email</div>
                    <div class="col col-sm-auto">
                        <span th:text="${usuario.email}">1111</span>
                    </div>
                </div>
                <div class="row justify-content-sm-start">
                    <div class="col col-sm-4" th:text="#{common.creationDate}">Fecha creación</div>
                    <div class="col col-sm-auto">
                        <span th:text="${#dates.format(usuario.createdOn)}">Jueves 17 de Agosto de 2017</span>
                    </div>
                </div>
                <div class="row justify-content-sm-start">
                    <div class="col col-sm-4" th:text="#{common.lastModifiedDate}">Fecha última modificación</div>
                    <div class="col col-sm-auto">
                        <span th:text="${#dates.format(usuario.modifiedOn)}">Jueves 17 de Agosto de 2017</span>
                    </div>
                </div>
            </div>

            <br>

            <div class="container">
                <a class="btn btn-primary"
                   th:href="@{'/usuarios/' + ${usuario.id} + '/editar'}"
                   th:text="#{common.edit}">Editar
                </a>

                <a class="btn btn-danger"
                   th:href="@{'/usuarios/' + ${usuario.id} + '/eliminar'}"
                   th:text="#{common.delete}">Eliminar
                </a>

                <a class="btn btn-outline-primary"
                   th:href="@{/usuarios}"
                   th:text="#{common.list}">Listado
                </a>
            </div>
        </div>

    </div>
</div>

<div th:replace="includes/footer :: footer"></div>

</body>
</html>