<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header()">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title th:text="${title}?: #{title.default}">Damas</title>
    <!-- Bootstrap  -->
    <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>

<body>
<div class="container">
    <nav th:fragment="navig" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#" th:href="@{/}" th:text="#{header.checkersDatabase}">Base de datos de partidas de Damas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../partidas.html" th:text="#{header.matchesCrud}" th:href="@{/partidas}">Partidas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../usuarios.html" th:text="#{header.usersCrud}" th:href="@{/usuarios}">Usuarios</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{header.language}">
                        Idioma
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/i18n(lang=en)}" th:text="#{header.lang.en}">EN</a>
                        <a class="dropdown-item" th:href="@{/i18n(lang=es)}" th:text="#{header.lang.es}">ES</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2" th:action="@{/partidas/buscar}" th:method="get">
                <input class="form-control mr-sm-2" type="search" th:name="username" th:placeholder="#{header.search.help}" th:aria-label="#{header.search.help}">
                <button class="btn btn-light my-2" type="submit" th:placeholder="#{header.search}" th:text="#{header.search}">Buscar</button>
            </form>
        </div>
    </nav>
</div>
</body>
</html>
